@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --BG_LIGHT: #F3F5FA;
    --BG_DARK: #ECEDF1;
    --BG_DARKER: #E7E7E7;
    --RED_LIGHT: #BA0C2F;
    --RED_DARK: #A41F35;
    --RED_DARKER: #8B2332;
    --TEXT_MUTED: #AEAEAE;
    --TEXT_LIGHT: #353E4A;
    --TEXT_DARK: #232429;
    --WHITE: #FFFFFF;
    --BLACK: #000000;
    --BG_INPUT: #FFFFFF;
    --BG_DISABLE: #ADB5BD;
    --TEXT_DISABLE: #F8F9FA;
    --NAV_TITLE: #ADB5BD;
    --NAV_TITLE_ACTIVE: #A41F35;
    --NAV_BACKGROUND: color-mix(in srgb, lightgray 35%, #7A232E);
    --NAV_BACKGROUND_ACTIVE: #FFFFFF;
  }
  

body{
    background-color: var(--RED_DARK);
}

form{
    background-color: var(--BG_LIGHT);
    border-width: 3px;
    border-color: var(--RED_DARKER);
}

h3{
  color: var(--TEXT_LIGHT);
}
body {
    margin: 0;
    padding: 0;
  }